<footer class="main-footer">
    <div class="footer-left">
        Copyright &copy; 2022 <div class="bullet"></div> Design By <a href="https://www.cqlsys.com/">Cqlsys Technologies
            Pvt.Ltd. Mohali</a>
    </div>
    <div class="footer-right">

    </div>
</footer>
</div>

<!-- General JS Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="../assets/js/stisla.js"></script>

<!-- JS Libraies -->
<!-- JS Libraies -->
<!-- <script src="assets/modules/datatables/datatables.min.js"></script> -->
<!-- <script src="assets/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script> -->
<!-- <script src="assets/modules/datatables/Select-1.2.4/js/dataTables.select.min.js"></script> -->
<!-- <script src="../node_modules/simpleweather/jquery.simpleWeather.min.js"></script> -->
<!-- <script src="../node_modules/chart.js/dist/Chart.min.js"></script> -->
<!-- <script src="../node_modules/jqvmap/dist/jquery.vmap.min.js"></script> -->
<!-- <script src="../node_modules/jqvmap/dist/maps/jquery.vmap.world.js"></script> -->
<!-- <script src="../node_modules/summernote/dist/summernote-bs4.js"></script> -->
<!-- <script src="../node_modules/chocolat/dist/js/jquery.chocolat.min.js"></script> -->

<!-- Template JS File -->
<script src="../assets/js/scripts.js"></script>
<script src="../assets/js/custom.js"></script>


<!-- header -->
<script type="text/javascript" charset="utf8"
    src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<!-- Page Specific JS File -->
<!-- Page Specific JS File -->
<script src="assets/js/page/modules-datatables.js"></script>
<script src="../assets/js/page/index-0.js"></script>
<script>
    setTimeout(function () {
        $("div.msg").fadeOut();
        $(".alert-success").html('')
    }, 2000);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
    integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
    .error {
        color: rgb(134, 13, 13);
        background-color: #FFF;
    }

    body {
        background-image: url(images/images1.jpg);
        background-size: cover;
    }
</style>
<script>
    imgInp.onchange = evt => {
        const [file] = imgInp.files
        if (file) {
            blah.src = URL.createObjectURL(file)
        }
    }

</script>
<script>
    $("#table_id").dataTable();
</script>