<!DOCTYPE html>
<html lang="en">
<head>
   <title>Ordersup</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
.box_sha {
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding: 50px;
    color: #fff;
    border-radius: 7px;
}
.btn-primary {
    color: #fff;
    background-color: #f30709;
    border-color: #f30709;
}
div#msg {
    background: #f30709;
    position: absolute;
    right: 10px;
    padding: 0px;
    color: #fff;
    font-weight: bold;
    width: 30%;
    text-align: center;
    top: 10px;
}
div#msg h5 {
    font-weight: bold;
}

.btn-primary:hover {
    color: #fff;
    background-color: #f30709;
    border-color: #f30709;
}

body{
    background:url(../../images/bg.png);
    width: 100%;
}
    
</style>
<body>
    <div>
  	
        
     </div>
<div class="container">
    
    <div class="box_sha">
    <div class="content-wrapper">
     
       </div> 
       <div class="icon-object border-slate-300 text-slate-300"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4WDEdXu67OPCCP8laexA6fGZCK2ABJK1wWfVIxVGnMt8I0WSC" class="img-rounded" height="100px"></div>
  <h3>Reset Password</h3>
  <form action="" method="post">
    
    <div class="form-group">
      <input type="password" class="form-control" id="password" placeholder="New Password" name="password" required>
    </div>
   
    <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Confirm Password" name="confirm_password" required>
      </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Submit <i class="icon-circle-right2 position-right"></i></button>
      </div>
  
  </form>
</div>

</div>

</body>
</html>
<script>
		
		setTimeout(() => {
        $("#msg").fadeOut('slow');
       },3000);
  </script>
  <script type="text/javascript">
  $(document).ready(function(){
      $("#reset_password").validate({
          rules: {
            password: "required",
            confirm_password: {
              equalTo: "#password"
            }
          },
          messages : {
            confirm_password : {
                equalTo : "Password and Confirm Password Should be Match"
            }
          }
      });
  });
</script>