<div class="modal fade login_model" id="forgot" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-close"></i></span>
            </button>
            <div class="row">
                <div class="col-md-6 signin">
                    <img src="/webassets/images/signin.png" alt="">
                </div>
                <div class="col-md-6">
                    <div class="form_login text-center">
                        <h3>Player Wanted</h3>
                        <h6>Forgot Password</h6>
                        <form method="post" action="javascript:void(0);" id="forgotForm" class="text-left">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Email</label>
                                <input type="text" class="form-control" name="email" id="recipient-name"
                                    placeholder="Enter Email">
                            </div>
                            <div class="form-group">
                                <button type="submit" id="forgot_data" class="btn btn-success">Send</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>