

<nav class="navbar navbar-expand-xl bg-light">
    <div class="container">
        <a class="navbar-brand logo" href="#"> <img src="/webassets/images/logo.png" alt=""></a>
       <button class="navbar-toggler shadow-0 border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa-solid fa-bars-staggered"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="nav nav-pills justify-content-start">
                <li class="nav-item"><a href="/home" class="nav-link active" aria-current="page">Home</a>
                </li>
                <li class="nav-item"><a href="/about" class="nav-link">About Us</a></li>
                <li class="nav-item"><a href="/store." class="nav-link">Store </a></li>
                <li class="nav-item"><a href="/myaccount" class="nav-link">Player Profile</a></li>
                <li class="nav-item"><a href="/Sportsoffered" class="nav-link">Sports Offered</a></li>
                <li class="nav-item"><a href="/contactinstructor" class="nav-link">Contact Instructor</a>
                </li>
                <li class="nav-item"><a href="/videos" class="nav-link top_videos">Videos</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><img src="/webassets/images/search.png" alt=""></a></li>
            </ul>
            <div class="rite_email">
                <!-- <img src="/webassets/images/email.png" alt="" />
                <div class="right_email">
                    <span>Email</span>
                    <strong>david@playerswanted.net</strong>
                </div> -->
            </div>
        </div>
    </div>
</nav>