<!doctype html>
<html lang="en">


<%- include("common/header")%>
 <!-- script -->
 <%- include("common/script")%>
 <!-- script -->
<body>
    <!-- Header -->
    <header>
        <div class="top_header d-flex">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">Welcome to the Players Wanted Website</div>
                    <div class="col-sm-6 text-right">
                        <div class="right">
                            <ul class="d-flex">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="/webassets/images/top_porfile.png" alt="">
                                        <h5 class="mx-2">
                                            John Marker <br>
                                            <span>Profile</span>
                                        </h5>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </li>

                                <li><a href=""><img src="/webassets/images/fb.png" alt=""></a></li>
                                <li><a href=""><img src="/webassets/images/in.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-xl bg-light">
            <div class="container">
                <a class="navbar-brand logo" href="#"> <img src="/webassets/images/logo.png" alt=""></a>
               <button class="navbar-toggler shadow-0 border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars-staggered"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="nav nav-pills justify-content-start">
                        <li class="nav-item"><a href="/web/home" class="nav-link"
                                aria-current="page">Home</a>
                        </li>
                        <li class="nav-item"><a href="/about" class="nav-link">About Us</a></li>
                        <li class="nav-item"><a href="/store" class="nav-link">Store </a></li>
                        <li class="nav-item"><a href="/myaccount" class="nav-link">Player Profile</a></li>
                        <li class="nav-item"><a href="/Sportsoffered" class="nav-link">Sports Offered</a></li>
                        <li class="nav-item"><a href="/contactinstructor" class="nav-link">Contact Instructor</a>
                        </li>
                        <li class="nav-item"><a href="/videos" class="nav-link top_videos">Videos</a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><img src="/webassets/images/search.png" alt=""></a></li>
                    </ul>
                    <div class="rite_email">
                        <img src="/webassets/images/email.png" alt="" />
                        <div class="right_email">
                            <span>Email</span>
                            <strong>david@playerswanted.net</strong>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header -->
    <!-- inner_banner -->
    <section class="inner_benner">
        <h2>Reviews</h2>
        <p>Home / Reviews</p>
        <div class="top_arr inner_benner1">
            <a href="/web/reviews"><img src="/webassets/images/top_arro.png" alt="" /></a>
        </div>

    </section>
    <!-- inner_banner -->

    <!-- Reviews -->
    <section id="reviews">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-3">
                    <h2>
                        Customer Reviews Near You
                    </h2>
                </div>
                <div class="col-12">
                    <div class="cards shadow-none">
                        <div class="card_img me-3">
                            <img src="/webassets/images/reviews_img.png" alt="">
                        </div>
                        <div class="card_body">
                            <h3>Scarlett James <span class="float-end">Jan 10th,  2022</span></h3>
                            <div class="star_read my-3">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <h6 class="mb-0 ms-1">5.2</h6>
                            </div>
                            <p>Nam ac orci nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Proin venenatis cursus euismod. Vivamus varius. Phasellus et erat velit.
                                Nam ac orci nunc. Orci varius natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Proin venenatis cursus euismod. Vivamus varius. Phasellus et
                                erat velit. Nam ac orci nunc. Orci varius natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Proin venenatis cursus euismod. Vivamus varius.
                                Phasellus et erat velit. </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="cards shadow-none">
                        <div class="card_img me-3">
                            <img src="/webassets/images/reviews_img.png" alt="">
                        </div>
                        <div class="card_body">
                            <h3>Scarlett James <span class="float-end">Jan 10th,  2022</span></h3>
                            <div class="star_read my-3">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <h6 class="mb-0 ms-1">5.2</h6>
                            </div>
                            <p>Nam ac orci nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Proin venenatis cursus euismod. Vivamus varius. Phasellus et erat velit.
                                Nam ac orci nunc. Orci varius natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Proin venenatis cursus euismod. Vivamus varius. Phasellus et
                                erat velit. Nam ac orci nunc. Orci varius natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Proin venenatis cursus euismod. Vivamus varius.
                                Phasellus et erat velit. </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="cards shadow-none">
                        <div class="card_img me-3">
                            <img src="/webassets/images/reviews_img.png" alt="">
                        </div>
                        <div class="card_body">
                            <h3>Scarlett James <span class="float-end">Jan 10th,  2022</span></h3>
                            <div class="star_read my-3">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <h6 class="mb-0 ms-1">5.2</h6>
                            </div>
                            <p>Nam ac orci nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Proin venenatis cursus euismod. Vivamus varius. Phasellus et erat velit.
                                Nam ac orci nunc. Orci varius natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Proin venenatis cursus euismod. Vivamus varius. Phasellus et
                                erat velit. Nam ac orci nunc. Orci varius natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Proin venenatis cursus euismod. Vivamus varius.
                                Phasellus et erat velit. </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="cards shadow-none">
                        <div class="card_img me-3">
                            <img src="/webassets/images/reviews_img.png" alt="">
                        </div>
                        <div class="card_body">
                            <h3>Scarlett James <span class="float-end">Jan 10th,  2022</span></h3>
                            <div class="star_read my-3">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <h6 class="mb-0 ms-1">5.2</h6>
                            </div>
                            <p>Nam ac orci nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Proin venenatis cursus euismod. Vivamus varius. Phasellus et erat velit.
                                Nam ac orci nunc. Orci varius natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Proin venenatis cursus euismod. Vivamus varius. Phasellus et
                                erat velit. Nam ac orci nunc. Orci varius natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Proin venenatis cursus euismod. Vivamus varius.
                                Phasellus et erat velit. </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="cards shadow-none">
                        <div class="card_img me-3">
                            <img src="/webassets/images/reviews_img.png" alt="">
                        </div>
                        <div class="card_body">
                            <h3>Scarlett James <span class="float-end">Jan 10th,  2022</span></h3>
                            <div class="star_read my-3">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <h6 class="mb-0 ms-1">5.2</h6>
                            </div>
                            <p>Nam ac orci nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Proin venenatis cursus euismod. Vivamus varius. Phasellus et erat velit.
                                Nam ac orci nunc. Orci varius natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Proin venenatis cursus euismod. Vivamus varius. Phasellus et
                                erat velit. Nam ac orci nunc. Orci varius natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Proin venenatis cursus euismod. Vivamus varius.
                                Phasellus et erat velit. </p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>
    <!-- Reviews -->

    <!-- Footer -->
    <footer>
        <%- include("common/footer")%>


    </footer>
    <!-- Footer -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/e61166a028.js" crossorigin="anonymous"></script>
    <script src="js/owl.carousel.js"></script>

</body>

</html>