<!doctype html>
<html lang="en">
<%- include("common/header")%>
    <!-- script -->
    <%- include("common/script")%>
        <!-- script -->


        <body>
            <!-- Header -->
            <%- include("common/Topheader")%>
                <!-- Header -->
                <!-- inner_banner -->
                <section class="inner_benner">
                    <h2>Store</h2>
                    <p>Home / Store</p>
                    <div class="top_arr inner_benner1">
                        <a href="#store"><img src="/webassets/images/top_arro.png" alt="" /></a>
                    </div>

                </section>
                <!-- inner_banner -->

                <!-- Store -->

                <section id="store">
                    <div class="container">
                        <div class="row py-5">
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <img src="/webassets/images/coming_soon.png" alt="">
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Store -->


                <!-- Footer -->
                <footer>
                    <%- include("common/footer")%>


                </footer>
                <!-- Footer -->
               

        </body>

   
        

</html>